* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 320px) and (max-width: 768px) {
    .header {
    background: #AB5141;
    }

    .header #title{
        display: flex;
        justify-content: flex;
    }

    .header #title a{
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-top: 4px;
    }

    .header #navbar #title{
        color: #fff;
        padding: 10px;
        font-weight: bold;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li{
        margin-bottom: 5px;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        margin: 5px;
        padding: 10px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2rem;
        font-weight: bold;
        padding: 0.5rem;
        margin-right: 7px;
    }

    #navbar nav li a.active:hover{
        background-color: #AB5141;
        color: #fff;
    }

    .front_page {
        width: 100%; 
        height: 100%; 
        min-height: 100vh; 
        text-align: center;
        background-color: #f2f2f2;
        overflow: auto;
    }
    
    #short_introduction {
        max-width: 768px;
        margin: 0 auto;
    }

    #intro_text {
        flex: 1;      
        padding: 20px; 
        text-align: center;  
        font-size: 1.2rem;     
    }

    #intro_text p{
        padding: 5px;
    }

    #my_image{
        display: flex;
        flex: 0 0 200px;
    }

    #my_image img {
        width: 100%;       
        max-width: 200px;     
        height: auto; 
        margin: 0 auto;
        padding: 100px 0 0 0;
    }

    /*Divider*/
    .divider {
        display: inline-block;
        width: 100%;
        height: 4px;
        vertical-align: middle;
        background-color: #AB5141;
        color: #fff;
        font-size: 1rem;
        
    }

    /*About Me*/
    .about_me {
        text-align: justify;     
        width: 100%;
        min-width: 320px;
        min-height: 54vh;
        background-color: #f2f2f2;
    }

    #basic_info {
        margin: 0 auto;
    }

    #basic_info p{
        font-size: 1rem;
        line-height: 2;
        padding: 10px 20px;
    }

    #img1 {
        flex: 0 0 200px;
        text-align: center;
    }

    #img1 img{
        width: 100%;
        max-width: 200px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 20px;

    }

    /*Portfolio*/
    .group_intro{
        min-height: 100vh;
    }
    #img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 360px;
        margin: 10px 20px;
    }

    #img2 img{
        width: 100%;
        max-width: 360px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 10px;
        border-radius: 8px;
    }

    #about_us {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 768px;
    }

    #about_us h1 {
        font-size: 1.3rem;
    }

    #about_us p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 10px;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .The-Seminar {
        display: block;
        min-width: 320px;
    }

    .The-Seminar h1 {
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .The-Seminar #text p{
        width: 95%;
        display: flex;
        text-align: justify;
        padding: 10px;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .portfolio-start h1 {
        padding: 0.5rem ;
        font-size: 1.5rem;
    }

    #portfolio_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
    }

     #portfolio_links a{
        text-decoration: none;
        margin: 4px;
        padding: 4px;
        font-size: 1.0rem;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    .concept-maps {
        flex-direction: column;
        align-items: center;
        max-width: 768px;
    }

    #concept-map-right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: right;
        align-items: center;
        flex: 0 0 275px;
        margin-bottom: 20px;
    }

    #concept-map-left {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #concept-map-left img,
    #concept-map-right img {
        max-width: 100%;
        height: auto;
        padding: 5px;
        max-width: 320px;
        height: auto; 
        display: block;
        margin: 0;
        border-radius: 8px;
    }

    #concept-map-left p, 
    #concept-map-right p{
        width: 100%;
        max-width: fit-content;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 0.9rem;
        padding: 1rem;
    }

    
    .sessions {
        max-width: 768px;
    }

    .sessions h1{
        padding: 1rem 1.3rem 0 ;
        font-size: 1.5rem;
    }

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .video-item-right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: right;
        align-items: center;
        flex: 0 0 275px;
        margin-bottom: 20px;
    }
    
    .video-item-left{
        width: 100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-item-right video, 
    .video-item-left video {
        width: 70%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: contain;
        background-color: black;
        border-radius: 8px;
        max-width: 320x;
    }

    .video-item-right p,
    .video-item-left p {
        width: 100%;
        max-width: fit-content;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 0.9rem;
        padding: 1rem;
    }

    #socials {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        gap: 1px;
        color: #fff;
        font-size: 1rem;
    }

    #socials i{
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }

    #scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    padding: 8px 12px;
    font-size: 10px;
    background-color: #AB5141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
    }

    #scrollTopBtn:hover {
    background-color: #fff;
    color: #AB5141;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {
    .header {
        background: #AB5141;
        padding: 0.7rem;
    }

    .header title{
        display: flex;
        justify-content: flex;
    }

    .header #title a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 3.5vh;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        padding: 0.5rem;
        font-size: 2.0vh;
    }

    .header #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2.0vh;
        font-weight: bold;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2.0vh;
        font-weight: bold;
        padding: 0.5rem;
    }

    .front_page {
        width: 100%;  
        min-height: 100vh; 
        background-color: #f2f2f2;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        box-sizing: border-box;
    }

    #short_introduction {
        display: flex;              
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 0.5rem;
    }

    #intro_text {
        flex: 1;      
        text-align: center;  
        font-size: 2.0vh; 
        line-height: 1.5;    
    }

    #portfolio_links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
    }

    #portfolio_links a{
        text-decoration: none;
        margin: 0.2rem;
        padding: 0.3rem;
        font-size: 1.8vh;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    #my_image {
        flex: 0 0 50vh;
        text-align: center;
    }

    #my_image img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        border-radius: 8px;
        padding: 2.5rem;
    }

    /*Divider*/
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        color: #fff;
        width: 100%;
        height: 4px; /* thin line */
    }

    /*About Me*/
    .about_me {
        display: flex;
        justify-content: flex-start; 
        align-items: center;      
        width: 100%;
        background-color: #f2f2f2;
        gap: 3rem;
    }

    #basic_info {
        flex: 1;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    #basic_info p{
        font-size: 2.0vh;
        line-height: 2;
    }

    #img1 {
        flex: 0 0 50vh;
        text-align: center;
        padding: 0.5rem;
    }

    #img1 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 2rem;

    }

    /*Portfolio*/
    .group_intro{
        min-height: 100vh;
    }
    #img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 480px;
        margin: 20px;
    }

    #img2 img{
        width: 100%;
        max-width: 480px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        border: 4px dashed #AB5141;
    }

    #img3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 70vh;
    }

    #img3 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        border-radius: 8px;
    }

    .The-Seminar {
        display: block;
        min-width: 768px;
        background-color: #f2f2f2;
    }

    .The-Seminar h1 {
        padding: 1rem;
        font-size: 5vh;
    }

    .The-Seminar #text p{
        width: 95%;
        display: flex;
        text-align: justify;
        padding: 0.5rem;
        font-size: 2.0vh;
        margin: 0 auto;
    }

    .portfolio-start{
        background-color: #f2f2f2;
    }

    .portfolio-start h1 {
        padding-left: 0.5rem;
        padding-top: 0.7rem;
        font-size: 5vh;
    }

    .concept-maps{
        min-width: 768px;
    }

    #concept-map-left {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 0 0 60vh;
        margin: 0.2rem;
    }

    #concept-map-right {
        display: flex;
        justify-content: right;
        align-items: center;
        flex: 0 0 60vh;
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
    }

    #concept-map-left img, #concept-map-right img{
        width: 100%;
        max-width: 60vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 4vh;
    }

    #concept-map-left p, 
    #concept-map-right p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    #concept-map-lefts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
    }

    #concept-map-lefts img{
        width: 100%;
        max-width: 40vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #concept-map-lefts p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
    }

    #concept-map-lefts-2 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }

    #concept-map-lefts-2 p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 2rem;
        font-size: 2.0vh;
    }

    #concept-map-rights {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 0 0 50vh;
    }

    #concept-map-rights img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding-left: 1rem;
        border-radius: 8px;
    }

    #concept-map-rights p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
    }

    #maps {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 70vh;
        margin-left: 1rem;
    }

    #maps img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #maps2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 70vh;
        padding-bottom: 1rem;
    }

    #maps2 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #text{
        width: 100%;
    }

    #text p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 2;
    }
    
    #text2 {
        width: 100%;
    }

    #text2 p{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2vh;
        line-height: 2;
        padding: 0.5rem;
    }

    #text3 {
        width: 100%;
    }

    #text3 p{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3.5vh;
        line-height: 2;
    }
    
    #canva {
        position: relative; 
        margin-left: 0.5rem;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 16/9;
        height: 100%;
        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        overflow: hidden;        
        border-radius: 8px; 
        will-change: transform;
    }

    .videos {
        margin: 1rem auto;
        gap: 1rem;
    }

    .videos2 {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .video-item-left, .video-item-right { 
        margin: 0.5rem; /* reduce margins */
    }

    .video-item-right video, 
    .video-item-left video {
        width: 100%;
        max-width: 50vh;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
        
    }

    .video-item-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .video-item-lefts {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 5vh;
        gap: 2rem;
    }

    .video-item-lefts p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts video {
        width: 100%;
        max-width: 50vh;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
    }

    .video-item-lefts2 video {
        width: 100%;
        max-width: 50vh;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
    }

    .video-item-lefts img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }

    .video-item-lefts2 {
        display: flex;
        justify-content: center;
        align-items: left;
        padding: 0.5rem;
        gap: 1rem;
    }

    .video-item-lefts3 {
        display: flex;
        justify-content: left;
        align-items: left;
        gap: 0.5rem;
    }

    .video-item-lefts3 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding:1rem 0;
        padding-left: 2rem;
        border-radius: 8px;
    }

    .video-item-lefts3 p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts4 {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 2rem;
        gap: 1rem;
        flex: 0 0 70vh;
    }

    .video-item-lefts4 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0;
        padding-bottom:1rem;
        border-radius: 8px;
    }

    .video-item-lefts4 p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts2 img{
        width: 100%;
        max-width: 560px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }

    .video-item-left img{
        width: 100%;
        max-width: 560px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }
    

    .video-item-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    
    .description {
        display: flex;
        justify-content: center;
        align-items: left;
        gap: 17rem;
    }

    .description p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 2.0vh;;
        font-weight: bold;
    }

    #session-3{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 360px;
        margin: 0.5rem;
        gap: 1rem;
    }

    #session-3 img{ 
        width: 100%;
        max-width: 360px;
        height: auto; 
        display: flex;
        margin: 0; 
    }

    #table {
        height: 125%;
    }

    .centered-table {
        width: 75%; /* adjust size as needed */
        margin: 1rem auto; /* centers the table horizontally */
        border-collapse: collapse;
    }

    .centered-table th,
    .centered-table td {
        border: 2px solid #AB5141;
        padding: 1rem;
        text-align: left;
    }

    .centered-table th {
        background-color: #AB5141;
        color: white;
        padding: 0.5rem;
    }

    #socials {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #AB5141;
        gap: 1px;
        color: #fff;
        font-size: 2.0vh;
    }

    #socials i{
        color: #fff;
        font-size: 2.0vh;
        padding: 0.5rem;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 0.5rem;
    }
    
    #scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 1rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    background-color: #AB5141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
    }

    #scrollTopBtn:hover {
    background-color: #fff;
    color: #AB5141;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .header {
    background: #AB5141;
    }

    .header #title{
        display: flex;
        justify-content: flex;
    }

    .header #title a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        padding: 5px;
        font-size: 3.5vh;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .header #navbar #title{
        color: #fff;
        padding: 0.7rem;
        font-weight: bold;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 2.0vh;
    }

    .header #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2rem;
        font-weight: bold;
    }

    .header #navbar nav li a.active:hover {
        background-color:#AB5141;
        color: #FFF;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2rem;
        font-weight: bold;
        padding: 0.5rem;
    }

    /*Landing Page*/
    .front_page {
        width: 100%;  
        min-height: 100vh; 
        background-color: #f2f2f2;    
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    #short_introduction {
        display: flex;              
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;;
    }

    #intro_text {
        flex: 1;      
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.0vh; 
        line-height: 1.5;    
    }

    #portfolio_links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    #portfolio_links a{
        text-decoration: none;
        margin: 0.3rem;
        padding: 0.5rem;
        font-size: 1rem;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    #my_image {
        flex: 0 0 40vh;
        text-align: center;
        padding-left:6rem;
    }

    #my_image img{
        width: 100%;
        max-width: 40vh;
        height: auto; 
        display: block;
        border-radius: 8px;
        padding: 1rem; 
    }

    /*Divider*/
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        color: #fff;
        width: 100%;
        height: 4px; /* thin line */
    }

    /*About Me*/
    .about_me {
        display: flex;
        justify-content: flex-start; 
        align-items: center;      
        width: 100%;
        background-color: #f2f2f2;
        gap: 2rem;
        min-height: 100vh;
    }

    #basic_info {
        flex: 1;
        padding: 2rem;
        display: flex;
        align-items: center;
    }

    #basic_info p{
        font-size: 2.0vh;
        line-height: 2;
        text-align: justify;
    }

    #img1 {
        flex: 0 0 50vh;
        margin-left: 1rem;
    }

    #img1 img{
        width: 125%;
        max-width: 50vh;
        height: auto; 
        display: block;
        padding: 1rem;
        border-radius: 8px;

    }

    /*Portfolio*/
    .group_intro{
        min-height: 75vh;
        background-color: #f2f2f2;

    }
    #img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
    }

    #img2 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16vh;
        padding-left: 2.0vh;
        border-radius: 8px;;
    }

    #img3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 70vh;
    }

    #img3 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        border-radius: 8px;
    }

    #about_us {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        flex-direction: column;
        padding: 1rem;
        padding-top: 16vh;
    }

    #about_us h1 {
        font-size: 1.5rem; 
        font-weight: bold; 
        text-align: center; 
        margin-bottom: 10px;
        padding: 5px;
    }

    #about_us p{
        width: 95%;
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        font-size: 1.2rem;;
        line-height: 2;
        padding-top: 15px;
    }

    .The-Seminar {
        display: block;
        min-width: 1366px;
        background-color: #f2f2f2;
    }

    .The-Seminar h1 {
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 5vh;
    }

    .The-Seminar #text p{
        width: 95%;
        display: flex;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
        margin: 0 auto;
    }

    .portfolio-start{
        background-color: #f2f2f2;
    }

    .portfolio-start h1 {
        padding-top: 1rem;
        padding: 0.7rem;
        padding-left: 1rem;
        font-size: 4vh;
    }

    .sessions h1{
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 4vh;
    }

    #concept-map-left {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 0 0 50vh;
        margin-left: 1rem;
        padding-bottom: 1rem;
    }

    #concept-map-left img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #concept-map-left p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }
    
    #concept-map-lefts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
    }

    #concept-map-lefts img{
        width: 100%;
        max-width: 300px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #concept-map-lefts p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 2rem;
        font-size: 2.0vh;
    }

    #concept-map-lefts-2 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #concept-map-lefts-2 p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 2rem;
        font-size: 2.0vh;
    }

    #concept-map-right {
        display: flex;
        justify-content: right;
        align-items: center;
        flex: 0 0 240px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #concept-map-right img{
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #concept-map-right p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: justify;
        padding: 2rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    #concept-map-rights {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 0 0 50vh;
    }

    #concept-map-rights img{
        width: 100%;
        max-width: 320px;
        height: auto; 
        display: block;
        margin: 0;
        padding-left: 5rem;
        border-radius: 8px;
    }

    #concept-map-rights p{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 1rem;
    }

    #maps {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
        margin-left: 1rem;
    }

    #maps img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #maps2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
        margin-left: 1rem;
        padding-bottom: 1rem;
    }

    #maps2 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    #text{
        width: 100%;
    }

    #text p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1rem;
        font-size: 2.0vh;
        line-height: 2;
    }
    
    #text2 {
        width: 100%;
    }

    #text2 p{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.0vh;
        line-height: 2;
        padding: 0.5rem 0.7rem;
    }

    #text3 {
        width: 100%;
    }

    #text3 p{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.0vh;
        line-height: 2;
    }

    #canva {
        position: relative; 
        margin-left: 1rem;
        width: 100%;
        max-width: 70vh;
        aspect-ratio: 16/9;
        height: 100%;
        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
        overflow: hidden;        
        border-radius: 8px; 
        will-change: transform;
    }

    .videos {
        margin: 1rem auto;
        gap: 2rem;
    }

    .videos2 {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .video-item-left, .video-item-right { 
        margin: 0.5rem; /* reduce margins */
        flex: 0 0 50vh;
    }

    .video-item-right video, 
    .video-item-left video {
        width: 100%;
        max-width: 30vh;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
        
    }

    .video-item-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.5rem;
    }

    .video-item-lefts {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 2rem;
        gap: 2rem;
    }

    .video-item-lefts p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts video {
        width: 100%;
        max-width: 350px;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
    }

    .video-item-lefts2 video {
        width: 100%;
        max-width: 50vh;
        height: auto;
        border-radius: 8px;
        background-color: black;
        aspect-ratio: 1/1;
        object-fit: contain;
        display: block;
    }

    .video-item-lefts img{
        width: 100%;
        max-width: 560px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-radius: 8px;
    }

    .video-item-lefts2 {
        display: flex;
        justify-content: center;
        align-items: left;
        padding: 1rem;
        gap: 1rem;
    }

    .video-item-lefts3 {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 2rem;
        gap: 1rem;
        flex: 0 0 50vh;
    }

    .video-item-lefts3 img{
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: block;
        margin: 0;
        padding-bottom:1rem;
        border-radius: 8px;
    }

    .video-item-lefts4 p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts4 {
        display: flex;
        justify-content: left;
        align-items: left;
        padding-left: 2rem;
        gap: 1rem;
        flex: 0 0 50vh;
    }

    .video-item-lefts4 img{
        width: 100%;
        max-width: 70vh;
        height: auto; 
        display: block;
        margin: 0;
        padding-bottom:1rem;
        border-radius: 8px;
    }

    .video-item-lefts4 p{
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: justify;
        padding: 1.5rem;
        font-size: 2.0vh;
        line-height: 2;
    }

    .video-item-lefts2 img{
        width: 100%;
        max-width: 560px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }

    .video-item-left img{
        width: 100%;
        max-width: 560px;
        height: auto; 
        display: block;
        margin: 0;
        padding: 1rem;
        border-radius: 8px;
    }
    

    .video-item-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    
    .description {
        display: flex;
        justify-content: center;
        align-items: left;
        gap: 21rem;
    }

    .description p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 2.0vh;
        font-weight: bold;
    }

    #session-3{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 50vh;
        margin: 0.5rem;
        gap: 2rem;
    }

    #session-3 img{ 
        width: 100%;
        max-width: 50vh;
        height: auto; 
        display: flex;
        margin: 0; 
    }

    #table {
        height: 125%;
    }

    .centered-table {
        width: 75%; /* adjust size as needed */
        margin: 1rem auto; /* centers the table horizontally */
        border-collapse: collapse;
    }

    .centered-table th,
    .centered-table td {
        border: 2px solid #AB5141;
        padding: 1rem;
        text-align: left;
    }

    .centered-table th {
        background-color: #AB5141;
        color: white;
        padding: 0.2rem;
        padding-left: 1rem;
    }

    .centered-table p{
        font-size: 2.0vh;
    }


    /*Footer Code*/
    #socials {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #AB5141;
        gap: 0.2rem;
        color: #fff;
    }

    #socials i{
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
        font-size: 2.0vh;
    }

    #scrollTopBtn {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    padding: 0.5rem 0.90rem;
    font-size: 2.0vh;
    background-color: #AB5141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
    }

    #scrollTopBtn:hover {
    background-color: #fff;
    color: #AB5141;
    }
}

