* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .header {
    background: #AB5141;
    }

    .header #title{
        display: flex;
        justify-content: flex;
    }

    .header #title a{
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-top: 4px;
    }

    .header #navbar #title{
        color: #fff;
        padding: 10px;
        font-weight: bold;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li{
        margin-bottom: 5px;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        margin: 5px;
        padding: 10px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

    #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    #navbar nav li a.active:hover{
        background-color: #AB5141;
        color: #fff;
    }

    .front_page {
        width: 100%;  
        min-height: 92vh; 
        text-align: center;
        background-color: #f2f2f2;
    }
    
    #short_introduction {
        max-width: 768px;
        margin: 0 auto;
    }

    #intro_text {
        flex: 1;      
        margin: 20px;
        padding: 20px; 
        text-align: center;  
        font-size: 1.2rem;     
    }

    #intro_text p{
        padding: 5px;
    }

    #portfolio_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    #portfolio_links a{
        text-decoration: none;
        margin: 4px;
        padding: 4px;
        font-size: 1.0rem;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    #my_image{
        display: flex;
        flex: 0 0 200px;
    }

    #my_image img {
        width: 100%;       
        max-width: 200px;     
        height: auto; 
        margin: auto;
        padding: 190px 0 0 0;
    }

    /*Divider*/
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        color: #fff;
        font-size: 1rem;
    }

    /*About Me*/
    .about_me {
        text-align: justify;     
        width: 100%;
        min-width: 320px;
        min-height: 54vh;
        background-color: #f2f2f2;
    }

    #basic_info {
        margin: 0 auto;
    }

    #basic_info p{
        font-size: 1rem;
        line-height: 2;
        padding: 0 20px;
    }

    #img1 {
        flex: 0 0 200px;
        text-align: center;
    }

    #img1 img{
        width: 100%;
        max-width: 200px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 20px;

    }

    #socials {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        gap: 1px;
        color: #fff;
        font-size: 1rem;
    }

    #socials i{
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }

    #scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    padding: 8px 12px;
    font-size: 10px;
    background-color: #AB5141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
    }

    #scrollTopBtn:hover {
    background-color: #fff;
    color: #AB5141;
    }
}

@media (min-width: 768px) {
    .header {
    background: #AB5141;
    }

    .header #title{
        font-size: 16px;
    }

    .header title{
        display: flex;
        justify-content: flex;
    }

    .header #navbar{
        font-size: 24px;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 10px, 20px;
    }

    .header #navbar #title{
        color: #fff;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    #title a{
        text-decoration: none;
        color: #FFF;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li{
        margin-bottom: 5px;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        margin: 5px;
        padding: 8px;
        font-size: 16px;
    }

    .header #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    .front_page {
        width: 100%;  
        min-height: 93vh; 
        background-color: #f2f2f2;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #short_introduction {
        display: flex;              
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 20px;
    }

    #intro_text {
        flex: 1;      
        margin-left: 2px;
        text-align: left;  
        font-size: 1.2rem; 
        line-height: 1.5;    
    }

    #portfolio_links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    #portfolio_links a{
        text-decoration: none;
        margin: 2px;
        padding: 4px;
        font-size: 0.8rem;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    #my_image {
        flex: 0 0 275px;
        text-align: center;
        padding: 0 60px;
    }

    #my_image img{
        width: 100%;
        max-width: 275px;
        height: auto; 
        display: block;
        border-radius: 8px;
        padding: 10px;
        border: 4px dashed #AB5141;  
    }

    /*Divider*/
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        gap: 8px;
        color: #fff;
        font-size: 1rem;
    }

    /*About Me*/
    .about_me {
        display: flex;
        justify-content: flex-start; 
        align-items: center;      
        width: 100%;
        background-color: #f2f2f2;
        gap: 10px;
    }

    #basic_info {
        flex: 1;
        padding: 20px;
        display: flex;
        align-items: center;
        min-height: 25vh;
    }

    #basic_info p{
        font-size: 1.2rem;
        line-height: 2;
    }

    #img1 {
        flex: 0 0 250px;
        text-align: center;
        margin-right: 20px;
    }

    #img1 img{
        width: 100%;
        max-width: 250px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 20px;

    }

    #socials {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #AB5141;
        gap: 1px;
        color: #fff;
        font-size: 1rem;
    }

    #socials i{
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }
}

@media (min-width: 1024px) {
    .header {
    background: #AB5141;
    }

    .header title{
        display: flex;
        justify-content: flex;
    }

    .header #navbar nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .header #navbar #title a{
        color: #fff;
        font-size: 1.3rem;
        padding: 5px;
        font-weight: bold;
    }

    .header nav ul{
        display: flex;
        list-style: none;
    }

    .header #navbar nav li a{
        text-decoration: none;
        text-align: right;
        color: #fff;
        margin: 5px;
        padding: 12px;
        font-size: 1rem;
    }

    .header #navbar nav li a:hover{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    .header #navbar nav li a.active{
        background-color: #FFF;
        color: #AB5141;
        border-radius: 2px;
        font-weight: bold;
    }

    /*Landing Page*/
    .front_page {
        width: 100%;  
        min-height: 92.5vh; 
        background-color: #f2f2f2;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #short_introduction {
        display: flex;              
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        min-width: 1024px; 
        width: 100%;  
    }

    #intro_text {
        flex: 1;      
        margin-left: 2px;
        text-align: left;  
        font-size: 1.3rem; 
        line-height: 1.5;
        padding-right: 10px;
    }

    #portfolio_links {
        margin-top: 20px;
    }

    #portfolio_links a{
        text-decoration: none;
        margin: 4px;
        padding: 4px;
        font-size: 1rem;
        background-color: #AB5141;
        color: #fff;
        border-radius: 4px;
    }

    #portfolio_links a:hover{
        background-color: #FFF;
        color: #AB5141;
    }

    #my_image {
        flex: 0 0 300px;
        text-align: center;
    }

    #my_image img{
        width: 100%;
        max-width: 300px;
        height: auto; 
        display: block;
        border-radius: 8px;
        border: 4px dashed #AB5141;
    }

    /*Divider*/
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AB5141;
        gap: 8px;
        color: #fff;
        font-size: 1rem;
    }

    /*About Me*/
    .about_me {
        display: flex;
        justify-content: flex-start; 
        align-items: center;      
        width: 100%;
        background-color: #f2f2f2;
        gap: 10px;
    }

    #basic_info {
        flex: 1;
        padding: 20px;
        display: flex;
        align-items: center;
        max-height: 25vh;
    }

    #basic_info p{
        font-size: 1.2rem;
        line-height: 2;
    }

    #img1 {
        flex: 0 0 250px;
        text-align: center;
        margin-right: 20px;
    }

    #img1 img{
        width: 100%;
        max-width: 250px;
        height: auto; 
        display: block;
        margin: 0 auto;
        padding: 20px;

    }

    /*Footer Code*/
    #socials {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #AB5141;
        gap: 1px;
        color: #fff;
        font-size: 1rem;
    }

    #socials i{
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;
    }

    .footer #socials a{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }

    #scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #AB5141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
    }

    #scrollTopBtn:hover {
    background-color: #fff;
    color: #AB5141;
    }
}

